<ion-content *ngIf='!routeResolveData'>
    <div id="container">

        
        <img class='splashImg' src="../../assets/icon/favicon.gif">
        
        <div class="shadow"></div>
        
        <h2 id='title'><b>Wait for Covid...</b></h2>

        <ion-progress-bar type="indeterminate"></ion-progress-bar>

    </div>

</ion-content>









<ion-header *ngIf='routeResolveData'>
  <ion-toolbar>
    <ion-title>Dashboard <span *ngIf='logged'>Healthy: {{healthy}}</span></ion-title>
    
        <ion-fab-button [hidden]='logged' slot="end" style="--background: transparent;" [routerLink]="['/login']"
    routerLinkActive="router-link-active">
        <ion-icon name='person-outline'></ion-icon>
    </ion-fab-button>
        <ion-fab-button [hidden]='!logged' slot="end" (click)='logOut()' style="--background: transparent;">
        <ion-icon name='log-out-outline'></ion-icon>
    </ion-fab-button> 

    
  </ion-toolbar>
</ion-header>

<ion-content style="display: flex; flex-flow: column;" *ngIf='routeResolveData'>
    <h5 style="width: 100%; margin: 0;padding: 1rem 0;padding-left: 1.5rem; border-bottom: 1px solid gray;">Global Status</h5>
    <div id='GlobalInfo' style="width: 100%; display: flex; flex-flow:row wrap; justify-content: flex-start;">
       
        <ion-card class="compare_card">
            <ion-card-header>
            <ion-card-title>Confirmed Cases</ion-card-title>
            </ion-card-header>
            <ion-card-content >
                <div>
                    <p>TODAY: {{countryData.global.TodayConfirmed | number }}</p>
                    <p>YESTERDAY: {{countryData.global.YesterdayConfirmed | number}}</p>
                </div>
                <ng-container *ngIf='countryData.global.todayVsYesterdayConfirmed>0; then subidaGC; else bajadaGC'>
                </ng-container>
                <ng-template #bajadaGC>
                    <ion-chip>
                        <ion-icon name="arrow-down" color='secondary'></ion-icon>
                        <ion-label>{{countryData.global.todayVsYesterdayConfirmed | number}}</ion-label>
                    </ion-chip>
                </ng-template>
                <ng-template #subidaGC>
                    <ion-chip>
                        <ion-icon name="arrow-up" color='danger'></ion-icon>
                        <ion-label>{{countryData.global.todayVsYesterdayConfirmed | number}}</ion-label>
                    </ion-chip>
                </ng-template>
            </ion-card-content>
        </ion-card>
        <ion-card class="compare_card">
            <ion-card-header>
            <ion-card-title>Dead</ion-card-title>
            </ion-card-header>
            <ion-card-content >
                <div>
                    <p>TODAY: {{countryData.global.TodayDeaths | number }}</p>
                    <p>YESTERDAY: {{countryData.global.YesterdayDeaths | number}}</p>
                </div>

                <ng-container *ngIf='countryData.global.todayVsYesterdayDeaths>0; then subidaGD; else bajadaGD'>

                </ng-container>
                <ng-template #bajadaGD>
                    <ion-chip>
                        <ion-icon name="arrow-down" color='secondary'></ion-icon>
                        <ion-label>{{countryData.global.todayVsYesterdayDeaths | number}}</ion-label>
                    </ion-chip>
                </ng-template>
                <ng-template #subidaGD>
                    <ion-chip>
                        <ion-icon name="arrow-up" color='danger'></ion-icon>
                        <ion-label>{{countryData.global.todayVsYesterdayDeaths | number}}</ion-label>
                    </ion-chip>
                </ng-template>
            </ion-card-content>
        </ion-card>

        <ion-card class="compare_card">
            <ion-card-header>
            <ion-card-title>Recovered</ion-card-title>
            </ion-card-header>
            <ion-card-content >
                            <div>
                                <p>TODAY: {{countryData.global.TodayRecovered | number }}</p>
                                <p>YESTERDAY: {{countryData.global.YesterdayRecovered | number}}</p>
                            </div>
                            <ng-container *ngIf='countryData.global.todayVsYesterdayRecovered>0; then bajadaGR; else subidaGR'>
                            </ng-container>
                            <ng-template #bajadaGR>
                                <ion-chip>
                                    <ion-icon name="arrow-up" style="color: green"></ion-icon>
                                    <ion-label>{{countryData.global.todayVsYesterdayRecovered |number}}</ion-label>
                                </ion-chip>
                            </ng-template>
                            <ng-template #subidaGR>
                                <ion-chip>
                                    <ion-icon name="arrow-down" color='danger'></ion-icon>
                                    <ion-label>{{countryData.global.todayVsYesterdayRecovered | number}}</ion-label>
                                </ion-chip>
                            </ng-template>
            </ion-card-content>
        </ion-card>
        <!-- <google-chart [data]="pieChart"></google-chart> -->
    </div>




    <h5 style="width: 100%; margin: 0;padding: 1rem 0;padding-left: 1.5rem; border-bottom: 1px solid gray;">{{this.countryData.name}} Status</h5>
    <div id='GlobalInfo' style="width: 100%; display: flex; flex-flow:row wrap; justify-content: flex-start;">
        <ion-card class="compare_card">
            <ion-card-header>
            <ion-card-title>Confirmed Cases</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <div>
                    <p>TODAY: {{countryData.country.TodayConfirmed | number }}</p>
                    <p>YESTERDAY: {{countryData.country.YesterdayConfirmed | number}}</p>
                </div>
                <ng-container *ngIf='countryData.global.todayVsYesterdayConfirmed>0; then subidaCC; else bajadaCC'>
                </ng-container>
                <ng-template #bajadaCC>
                    <ion-chip>
                        <ion-icon name="arrow-down" color='secondary'></ion-icon>
                        <ion-label>{{countryData.country.todayVsYesterdayConfirmed | number}}</ion-label>
                    </ion-chip>
                </ng-template>
                <ng-template #subidaCC>
                    <ion-chip>
                        <ion-icon name="arrow-up" color='danger'></ion-icon>
                        <ion-label>{{countryData.country.todayVsYesterdayConfirmed | number}}</ion-label>
                    </ion-chip>
                </ng-template>
            </ion-card-content>
        </ion-card>
        <ion-card class="compare_card">
            <ion-card-header>
            <ion-card-title>Dead</ion-card-title>
            </ion-card-header>
            <ion-card-content >
                <div>
                    <p>TODAY: {{countryData.country.TodayDeaths | number }}</p>
                    <p>YESTERDAY: {{countryData.country.YesterdayDeaths | number}}</p>
                </div>

                <ng-container *ngIf='countryData.country.todayVsYesterdayDeaths>0; then subidaCD; else bajadaCD'>

                </ng-container>
                <ng-template #bajadaCD>
                    <ion-chip>
                        <ion-icon name="arrow-down" color='secondary'></ion-icon>
                        <ion-label>{{countryData.country.todayVsYesterdayDeaths | number}}</ion-label>
                    </ion-chip>
                </ng-template>
                <ng-template #subidaCD>
                    <ion-chip>
                        <ion-icon name="arrow-up" color='danger'></ion-icon>
                        <ion-label>{{countryData.country.todayVsYesterdayDeaths | number}}</ion-label>
                    </ion-chip>
                </ng-template>
            </ion-card-content>
        </ion-card>

        <ion-card class="compare_card">
            <ion-card-header>
            <ion-card-title>Recovered</ion-card-title>
            </ion-card-header>
            <ion-card-content >
                <div *ngIf="countryData.country.TodayRecovered != 0">
                    <p>TODAY: {{countryData.country.TodayRecovered | number }}</p>
                    <p>YESTERDAY: {{countryData.country.YesterdayRecovered | number}}</p>
                </div>
                <div *ngIf="countryData.country.TodayRecovered == 0">
                    <p>No actual data!</p>
                </div>
                <ng-container *ngIf='countryData.country.todayVsYesterdayRecovered>0; then bajadaCR; else subidaCR'>
                </ng-container>
                <ng-template #bajadaCR>
                    <ion-chip>
                        <ion-icon name="arrow-up" style="color: green"></ion-icon>
                        <ion-label>{{countryData.country.todayVsYesterdayRecovered |number}}</ion-label>
                    </ion-chip>
                </ng-template>
                <ng-template #subidaCR>
                    <ion-chip>
                        <ion-icon name="arrow-down" color='danger'></ion-icon>
                        <ion-label>{{countryData.country.todayVsYesterdayRecovered | number}}</ion-label>
                    </ion-chip>
                </ng-template>
            </ion-card-content>
        </ion-card>

        <ion-card class="compare_card">
            <ion-card-header>
            <ion-card-title>Hospitalized</ion-card-title>
            </ion-card-header>
            <ion-card-content >
                <div *ngIf="countryData.country.TodayHospitalizedPatients!=0">
                    <p>TODAY: {{countryData.country.TodayHospitalizedPatients | number }}</p>
                    <p>YESTERDAY: {{countryData.country.YesterdayHospitalizedPatients | number}}</p>
                </div>
                <div *ngIf="countryData.country.TodayRecovered == 0">
                    <p>No actual data!</p>
                </div>
                <ng-container *ngIf='countryData.country.todayVsYesterdayHospitalizedPatients>0; then bajadaCH; else subidaCH'>
                </ng-container>
                <ng-template #bajadaCH>
                    <ion-chip>
                        <ion-icon name="arrow-up" color='secondary'></ion-icon>
                        <ion-label>{{countryData.country.todayVsYesterdayHospitalizedPatients |number}}</ion-label>
                    </ion-chip>
                </ng-template>
                <ng-template #subidaCH>
                    <ion-chip>
                        <ion-icon name="arrow-down" color='danger'></ion-icon>
                        <ion-label>{{countryData.country.todayVsYesterdayHospitalizedPatients | number}}</ion-label>
                    </ion-chip>
                </ng-template>
            </ion-card-content>
        </ion-card>

        <ion-card class="compare_card">
            <ion-card-header>
            <ion-card-title>Intensive Care</ion-card-title>
            </ion-card-header>
            <ion-card-content >
                <div *ngIf="countryData.country.TodayIntensiveCare!=0">
                    <p>TODAY: {{countryData.country.TodayIntensiveCare | number }}</p>
                    <p>YESTERDAY: {{countryData.country.YesterdayIntensiveCare | number}}</p>
                </div>
                <div *ngIf="countryData.country.TodayRecovered == 0">
                    <p>No actual data!</p>
                </div>
                <ng-container *ngIf='countryData.country.todayVsYesterdayIntensiveCare>0; then bajadaCI; else subidaCI'>
                </ng-container>
                <ng-template #bajadaCI>
                    <ion-chip>
                        <ion-icon name="arrow-up" color='secondary'></ion-icon>
                        <ion-label>{{countryData.country.todayVsYesterdayIntensiveCare |number}}</ion-label>
                    </ion-chip>
                </ng-template>
                <ng-template #subidaCI>
                    <ion-chip>
                        <ion-icon name="arrow-down" color='danger'></ion-icon>
                        <ion-label>{{countryData.country.todayVsYesterdayIntensiveCare | number}}</ion-label>
                    </ion-chip>
                </ng-template>
            </ion-card-content>
        </ion-card>

        <!-- <google-chart [data]="countryPieChart"></google-chart> -->
    </div>
    
    





    <ion-fab style="position: fixed; width: 75px; height: 75px; margin-right: 1rem;" vertical="bottom" horizontal="end">
        <ion-fab-button style="--background: transparent; width:75px; height: 75px;" class="splashImg"><img src='../../assets/icon/favicon.gif'></ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button [hidden]='!logged' style="opacity: 0.75; width: 2.5rem; height:2.5rem" [routerLink]="['/questions']">
                <ion-icon style="color:rgb(70, 223, 70);width: 2.5rem; height:2.5rem"  name="help-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start">
            <ion-fab-button style="--background: transparent; width: 2.5rem; height:2.5rem" [routerLink]="['/ranking']">
                <ion-icon style="color:rgb(70, 223, 70);width: 2.5rem; height:2.5rem" name='stats-chart-outline'></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

</ion-content>